<link rel="stylesheet" href="/css/job.css">


<!-- Form for student Assign to job -->
<form class="assignInterview" action="/student/assignInterview/<%= jobID %>" method="post">

    <a id="absoluteBtn" href="/users" >X</a>

    <div>
        <label > CHOOSE STUDENT </label>
        <P id="colon"> : </P>
        <% if( StudentList && StudentList.length > 0 ) { %>
            <select name="studentID" >
                <% for (student of StudentList) { %>
                    <option value="<%= student._id %>"> <%= student.name %> </option>
                <% } %>
            </select>
        <% } %>
    </div>

    <button type="submit">SUBMIT</button>
    

</form>