<link rel="stylesheet" href="/css/job.css">

<!-- Form for creating a job under particular company -->
<form action="/job/createJob/<%= companyID %>" method="post">

    <a id="absoluteBtn" href="/users" >X</a>

    <div>
        <label > POSITION </label>
        <P id="colon"> : </P>
        <input type="text"  name="position">
    </div>
    <div>
        <label > CTC </label>
        <P id="colon"> : </P>
        <input type="text"  name="CTC">
    </div>

    <button type="submit">SUBMIT</button>

</form>