<link rel="stylesheet" href="/css/job.css">

<form action="/job/createCompany" method="post">

    <div>
        <label > Company Name </label>
        <P id="colon"> : </P>
        <input type="text"  name="name">
    </div>
 
    <button type="submit">SUBMIT</button>
    

</form>