<link rel="stylesheet" href="/css/studentView.css">


<!-- Listing a student in home page -->
<ul>

    <% for ( student of studentList ) { %>

        <li>
            <span class="title"> <%= student.name  %> </span>
            <a href="student/profile/<%= student.email %>"> ( <%= student.email %> ) </a> 
            <a class="DELETESTUDENT" href="student/deleteStudent/<%= student.email %>">X</a>
        </li>

    <% } %>

</ul>
